<header>
  <a class="logo" 
  routerLink="/lista-livros" 
  routerLinkActive="active-page" 
  ariaCurrentWhenActive="page"
  aria-label="Página inicial">
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Buscante">
  </a>
  <div>
    <a routerLink="/sobre" 
    routerLinkActive="active-page"
    aria-label="Página mais informações sobre o Buscante">Sobre</a>
    <a routerLink="/contato" 
    routerLinkActive="active-page"
    aria-label="Entre em contato"
    >Contato</a>
  </div>
</header>